<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="prueba-logica.css">

  <title>Prueba lógica</title>
</head>
<body>
  <div class="container">

    <div class="row align-items-center justify-content-center" id="app">
      <div class="col-6 text-center">
        <h1 class="mb-3 mt-5 font-weight-bold">Prueba lógica</h1>
        <p>Ingrese el numero de pruebas, a continuación ingrese las dimensiones de cada prueba</p>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="btn btn-info text-light" >No pruebas</span>
          </div>
          <input type="text" class="form-control" id="numero_pruebas" placeholder="Número de pruebas" v-model="numeroPruebas" @change="crearPruebas">
        </div>
        <p class="text-error text-left text-danger" v-show="errorNumeroPruebas">
          Los valores válidos para el numero de pruebas son 1 <= T <= 5000
        </p>
        <table class="table table-bordered table-sm mt-3" v-if="(pruebas.length > 0) && !errorNumeroPruebas">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ancho (X)</th>
              <th scope="col">Alto (Y)</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="prueba in pruebas">
              <th scope="row">{{prueba.id}}</th>
              <td>
                <input type="text" 
                class="form-control form-control-sm"
                :class="{'has-error': !prueba.valida}" 
                :name="'prueba_x'+prueba.id" 
                :id="'prueba_x'+prueba.id" v-model="prueba.x"> 
              </td>
              <td>
                <input type="text"
                class="form-control form-control-sm" 
                :class="{'has-error': !prueba.valida}" 
                :name="'prueba_y'+prueba.id" 
                :id="'prueba_y'+prueba.id" v-model="prueba.y"> 
              </td>
            </tr>
          </tbody>
        </table>
        <p class="text-error text-left text-danger" v-show="errorValidacionPruebas">
          Los valores válidos para las pruebas son 1 <= N,M <= 10^9
        </p>
        <div class="card mt-3" 
        v-if="(direcccionesFinales.length > 0) && !errorValidacionPruebas && !errorNumeroPruebas">
        <div class="card-body text-left cont-url">
          <p v-for="mf in direcccionesFinales">
            <b>Dirección:&nbsp;</b> {{mf.d}}, <b>Posición:&nbsp;</b> ({{mf.x}}, {{mf.y}}).
          </p>

        </div>
      </div>
      <button class="btn btn-info btn-block mt-3" v-if="pruebas.length > 0 && !errorNumeroPruebas" @click="validarPruebas">
        Realizar pruebas
      </button>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="prueba-logica.js"></script>
</body>
</html>